<section style="height: 100%; width: 100%;">
  <ng-container *ngIf="canUserViewElement('{{config.permissions.updateRight}}'); else notPermitted{{ config.index }}">
    <foundation-form
      design-system-prefix="rapid"
      resourceName="{{config.resourceName}}"
      {{#if config.uischema}}
      [uischema]="tile{{ config.index }}.uischema"
      {{/if}}
    >
    </foundation-form>
  </ng-container>
  
  <ng-template #notPermitted{{ config.index }}>
    <section style="contain: content; display: flex; height: 100%; width: 100%; overflow-y: auto; align-items: center; justify-content: center;">
      <app-error-message elementType="h3" message="You do not have access to view this component."></app-error-message>
    </section>
  </ng-template>
</section>

