import './{{pascalCase route.name}}.css';
{{#each route.tiles}}
import { {{pascalCase this.componentName}} } from './{{kebabCase this.title}}-{{this.componentType}}';
{{/each}}

const {{pascalCase route.name}} = () => {

  return (
    <section className="{{kebabCase route.name}}-page">
      {{#if route.tiles}}
      <rapid-layout auto-save-key={process.env.NODE_ENV === 'production' ? "{{route.layoutKey}}" : null}>
        {{> (lookup ./route 'layoutType') }}
      </rapid-layout>
      {{else}}
      Welcome to {{sentenceCase route.name}}
      {{/if}}
    </section>
  );
};

export default {{pascalCase route.name}};
