import './{{pascalCase route.name}}.css';
import { persistLayout } from '../../utils';
import { setComponentItemsMap } from '../../utils/goldenLayout.helper';
import { LayoutComponentNames, layoutComponentsMap } from '../../store/store';
import { useRef, useEffect } from 'react';
{{#each route.tiles}}
import { {{pascalCase this.componentName}} } from './{{pascalCase this.title}}{{pascalCase this.componentType}}';
{{/each}}

const {{pascalCase route.name}} = () => {
  const layoutRef = useRef<any>(null);

  useEffect(() => {
    if (layoutRef.current) {
      setComponentItemsMap(layoutRef.current, layoutComponentsMap);
    }
  }, []);

  return (
    <section className="{{kebabCase route.name}}-page">
      {{#if route.tiles}}
      <rapid-layout ref={layoutRef} auto-save-key={persistLayout('{{route.layoutKey}}')}>
        {{> (lookup ./route 'layoutType') }}
      </rapid-layout>
      {{else}}
      Welcome to {{sentenceCase route.name}}
      {{/if}}
    </section>
  );
};

export default {{pascalCase route.name}};
