import './{{pascalCase route.name}}.css';

const {{pascalCase route.name}} = () => {
  {{#each route.tiles}}
  const tile{{this.config.index}} = { {{#if this.config.createFormUiSchema}}
    "createFormUiSchema": {{{ this.config.createFormUiSchema }}},{{/if}}{{#if this.config.updateFormUiSchema}}
    "updateFormUiSchema": {{{ this.config.updateFormUiSchema }}},{{/if}}{{#if this.config.uischema}}
    "uischema": {{{ this.config.uischema }}},{{/if}}{{#if this.config.gridOptions}}
    "gridOptions": {{{ this.config.gridOptions }}},{{/if}}{{#if this.config.reqrep}}
    "reqrep": {{{ this.config.reqrep }}},{{/if}}{{#if this.config.columns}}
    "columns": {{{ this.config.columns }}},{{/if}}{{#if this.config.type}}
    "chartConfig": { {{#ifEquals this.config.type 'pie'}}
      "radius": 0.75,
      "angleField": "value",
      "colorField": "groupBy",{{else}}
      "xField": "groupBy",
      "yField": "value",{{/ifEquals}}
    },{{/if}}
  };
  {{/each}}

  return (
    <section className="{{kebabCase route.name}}-page">
      {{#if route.tiles}}
      <rapid-layout auto-save-key="{{route.layoutKey}}">
        {{> (lookup ./route 'layoutType') }}
      </rapid-layout>
      {{else}}
      Welcome to {{sentenceCase route.name}}
      {{/if}}
    </section>
  );
};

export default {{pascalCase route.name}};
