{{#if route.tiles}}
import React, { useRef } from 'react';
import { Layout, Model, TabNode } from 'flexlayout-react';
import { getFlexLayoutStorageKey } from '../../utils/layout';
import { TileErrorBoundary } from '../../components/error-boundary/ErrorBoundary';
{{#each route.tiles}}
import { {{pascalCase this.componentName}} } from './{{pascalCase this.title}}{{pascalCase this.componentType}}';
{{/each}}
{{/if}}
import './{{pascalCase route.name}}.css';

{{#if route.tiles}}
const STORAGE_KEY = getFlexLayoutStorageKey('{{route.layoutKey}}');

{{> (lookup ./route 'layoutType') }}

const componentMap: Record<string, React.FC> = {
  {{#each route.tiles}}
  '{{camelCase this.componentName}}': {{pascalCase this.componentName}},
  {{/each}}
};

function loadModel(): Model {
  if (STORAGE_KEY) {
    const saved = localStorage.getItem(STORAGE_KEY);
    if (saved) {
      try { return Model.fromJson(JSON.parse(saved)); } catch {}
    }
  }
  return Model.fromJson(defaultLayout);
}
{{/if}}

const {{pascalCase route.name}} = () => {
  {{#if route.tiles}}
  const modelRef = useRef<Model>(loadModel());

  const factory = (node: TabNode) => {
    const Component = componentMap[node.getComponent() ?? ''];
    return Component ? (
      <TileErrorBoundary
        title={node.getName() ?? node.getComponent() ?? ''}
        tileRegistration={node.getComponent() ?? ''}
      >
        <Component />
      </TileErrorBoundary>
    ) : null;
  };

  const onModelChange = (model: Model) => {
    if (STORAGE_KEY) {
      localStorage.setItem(STORAGE_KEY, JSON.stringify(model.toJson()));
    }
  };
  {{/if}}

  return (
    <section className="{{kebabCase route.name}}-page">
      {{#if route.tiles}}
      <Layout model={modelRef.current} factory={factory} onModelChange={onModelChange} />
      {{else}}
      Welcome to {{sentenceCase route.name}}
      {{/if}}
    </section>
  );
};

export default {{pascalCase route.name}};
