import './{{pascalCase route.name}}.css';
import { persistLayout } from '../../utils';
{{#each route.tiles}}
import { {{pascalCase this.componentName}} } from './{{pascalCase this.title}}{{pascalCase this.componentType}}';
{{/each}}

const {{pascalCase route.name}} = () => {
  return (
    <section className="{{kebabCase route.name}}-page">
      {{#if route.tiles}}
      <rapid-layout auto-save-key={persistLayout('{{route.layoutKey}}')}>
        {{> (lookup ./route 'layoutType') }}
      </rapid-layout>
      {{else}}
      Welcome to {{sentenceCase route.name}}
      {{/if}}
    </section>
  );
};

export default {{pascalCase route.name}};
